

body {
    background: hsl(217, 54%, 11%);
    font-family: "Outfit";
    font-weight: 300, 400, 600;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    max-height: 500px;
    height: 500px;
}

h1 {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
}
header> p{
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    font-weight: 100px;
}
.card {
    background: hsl(216, 50%, 16%);
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    padding: 15px;
    max-height: 500px;
    border-radius: 15px;
    padding-bottom: 67px;
    height: 500px;
}

.resize1 {
    max-width: 100%;
    border-radius: 15px;
    

}

main > section {
    height: 20px;
}

.eth {
    color: hsl(178, 100%, 50%);
    padding-right: 85px;
}

.time {
    color: hsl(215, 51%, 70%);

   
}
.icon1 {
    padding-right: 5px;
    max-width: 15px;
    
}
.icon2 {
    padding-right: 5px;
    max-width: 15px;
}

main {
    border-bottom: 1px solid hsl(215, 32%, 27%);
    padding-bottom: 15px;
    max-height: 500px;
}


footer {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    float: left;
    width: 100%;
    height: 35px;
    padding-top: 10px;
    
}

footer section {
    float: left;
}
footer section +section {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 24px;
}
.resize2 {
    width: 30px;
    height: 30px;
    outline: 1px solid white;
    border-radius: 50%;
    margin-top: 5px;
    
    
   
}
.creation>p {
    margin-left: 20px;
    color:hsl(215, 51%, 70%);

    
}
.name{
    color: hsl(0, 0%, 100%);
   
}




 a{
    text-decoration: none;
}

.backImg {
    background-image: url(image-equilibrium.jpg) ;
    background-size: cover ;
    max-width: 100%;
    height: 287px;
}

.hoverEffect:hover  {
    background: hsl(178, 100%, 50%);
    background-size: cover;
}